<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <div class="custom-container">
    <div class="row">
      <div class="col s12">
        <div class="card grey darken-3">
          <div class="card-content custom-card-content">
            <span class="card-title black-text bold">Card Title</span>
            <ul class="collection collection-card">
              <li class="collection-header">
                <div class="row custom-row">
                  <div class="col s2">Title</div>
                  <div class="col s2">Writer</div>
                  <div class="col s2">Theme</div>
                  <div class="col s1 center-align">Start Date</div>
                  <div class="col s1 center-align">Page</div>
                  <div class="col s1 center-align">Total Page</div>
                  <div class="col s2">Progress</div>
                </div>
              </li>
              <li class="collection-item custom-collection-item">
                <form class="row custom-row" #form="ngForm" (ngSubmit)="save()">
                  <div class="col s2 input-field">
                    <input
                      id="title"
                      name="input-title"
                      type="text"
                      class="validate"
                      [(ngModel)]="book.title"
                      pattern="^[A-Z].{0,199}$"
                      #title="ngModel"
                      required
                      (input)="onInputTitleChange()"
                    >
                    <label for="title" [class.active]="isTitleLabelActive">Title</label>
                    <div class="red-text" [hidden]="title.valid || title.untouched">
                      Por favor, informe o titulo do livro!
                    </div>
                  </div>
                  <div class="col s2 input-field">
                    <input
                      id="author"
                      name="input-author"
                      type="text"
                      pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+"
                      [(ngModel)]="book.author"
                      #author="ngModel"
                      (input)="onInputAuthorChange()"
                      class="validate">
                    <label for="author" [class.active]="isAuthorLabelActive">Author</label>
                    <div class="red-text" [hidden]="author.valid || author.untouched">
                      Por favor, informe o autor do livro!
                    </div>
                  </div>
                  <div class="col s2 input-field">
                    <input id="theme" type="text" name="input-theme" [(ngModel)]="book.theme" (input)="onInputThemeChange()" class="validate">
                    <label for="theme" [class.active]="isThemeLabelActive">Theme</label>
                  </div>
                  <div class="col s1 input-field">
                    <input id="date" type="date" name="input-startDate" [(ngModel)]="book.startDate" class="validate" datetime="dd-MM-yyyy">
                  </div>
                  <div class="col s1 input-field">
                    <input id="actualPage" type="number" name="input-actualPage" [(ngModel)]="book.actualPage" (input)="onInputActualPageChange()" class="valiactualPage">
                    <label for="actualPage" [class.active]="isActualPageLabelActive">ActualPage</label>
                  </div>
                  <div class="col s1 input-field">
                    <input id="totalPage" type="number" name="input-totalPage" [(ngModel)]="book.totalPage" (input)="onInputTotalPageChange()" class="valitotalPage">
                    <label for="totalPage" [class.active]="isTotalPageLabelActive">TotalPage</label>
                  </div>
                </form>
              </li>
              <app-books-list [books]="books" [showRemoveButton]="true"></app-books-list>
              <!-- <li class="collection-item " *ngFor="let book of books">
                <div class="row custom-row2">
                  <div class="col s2">{{ book.title }}</div>
                  <div class="col s2">{{ book.author }}</div>
                  <div class="col s2">{{ book.theme }}</div>
                  <div class="col s1">{{ book.startDate | date: 'dd/MM/yyyy' }}</div>
                  <div class="col s1">
                    <input id="editedActualPage" type="number" [(ngModel)]="book.actualPage" [value]="book.actualPage" class="validate">
                  </div>
                  <div class="col s1">{{ book.totalPage }}</div>
                  <div class="col s2">
                    <div class="progress-container">
                      <div class="progress">
                        <div class="determinate" [style.width.%]="(book.actualPage / book.totalPage) * 100"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col s1">
                    <a class="btn waves-effect waves-light red" (click)="removeBook(book)">
                      <i class="material-icons">delete</i>
                    </a>
                  </div>
                  <div class="col s1">
                    <a class="btn waves-effect waves-light" (click)="saveActualPage(book)">
                      <i class="material-icons">save</i>
                    </a>
                  </div>
                </div>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>

<div class="fixed-action-btn">
  <div class="row">
    <div class="col s6">
      <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!form.valid" (click)="save()">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
    <div class="col s6">
      <button class="btn waves-effect waves-light red" type="button" name="cancel" (click)="cancel()">Cancel
        <i class="material-icons right">close</i>
      </button>
    </div>
  </div>
</div>

  </div>


</body>
</html>
